<div class="comments col-9">
    <h5 class="title-comments">Комментарии ({{ comments|length }})</h5>
    <ul class="media-list">
        {% for comment in comments %}
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object avatar_thumbnail" src="../../uploads/{{ comment.avatar }}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="author">{{ comment.name }} {{ comment.surname }}</div>
                        <div class="metadata">
                            <span class="date">{{ comment.date_create|date("d.m.Y H:i")}}</span>
                        </div>
                    </div>
                    <div class="media-text text-justify">
                        {{ comment.comment_text }}
                    </div>
                    <form action="/comment/delete">
                        <input type="hidden" name="comment_id" value="{{comment.comment_id}}">
                        <input type="submit" value="Удалить">
                    </form>
                    <hr>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>