{% extends "base.twig" %}

{% block title %}{{ page_title }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% include 'nav.twig'%}
    <section class="section row">
        {% include 'aside.twig' %}
        <div class="col-10">
            <h3>{{user.name }} {{ user.surname }}</h3>
            <img src="/img/{{ user.avatar }}">
            <p>{{ user.date_of_birth }}</p>
            <p>{{ user.email }}</p>
            <a class="btn btn-primary btn-md" href="#">Изменить</a>
        </div>
    </section>
{% endblock %}

