{% extends "base.twig" %}

{% block title %}{{ page_title }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% include 'nav.twig'%}
    <section class="section row">
        {% include 'aside.twig' %}
        <div class="content col-10">
            <h3 class="content__header">Мои задачи</h3>
            <a class="btn btn-primary btn-md content__add_button" href="/task/add" role="button">Новая задача</a>
            <table class="table">
                <tr>
                    <th>Задача</th>
                    <th>Срок выполнения</th>
                    <th>Время факт</th>
                    <th>Время план</th>
                    <th>Ответственный</th>
                </tr>
                {% for item in data %}
                    <tr>
                        <td>
                            <a href="/task/show/{{ item.task_id }}">{{ item.title }}</a>
                            <div id="chrono">
                                <button class="startButton"><i class="fas fa-play-circle"></i></button>
                                    <div class="values">00:00:00</div>
                                    <button class="pauseButton" >Pause</button>
                                    <button class="stopButton">Stop</button>
                            </div>
                        </td>
                        <td>{{ item.date_end_plan }}</td>
                        <td>{{ item.time_fact }}</td>
                        <td>{{ item.time_plan }}</td>
                        <td>{{ item.resp_id }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ parent()}}
    <script src="/js/easytimer.min.js"></script>
    <script src="/js/myTimer.js"></script>
{% endblock %}
